/* Global */
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

.background{
  background-color:white;
}

.body{
  background-color: #e9ecef;
  background-image: url('../img/bg-main.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  color:#3b3a36;
}

.section-main{
  margin-top: 10px;
  background-color: #e9ecef;
  border-radius: .3rem;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 37px -8px rgba(66,66,66,0.72);
  -moz-box-shadow: 10px 10px 37px -8px rgba(66,66,66,0.72);
  box-shadow: 10px 10px 37px -8px rgba(66,66,66,0.72);
}
.section-sub{
  margin: 0px;
    margin-top: 10px;
  background-color: #e9ecef;
  border-radius: .3rem;
  padding: 12.5px;
 -webkit-box-shadow: 10px 10px 40px -17px rgba(0,0,0,0.75);
 -moz-box-shadow: 10px 10px 40px -17px rgba(0,0,0,0.75);
 box-shadow: 10px 10px 40px -17px rgba(0,0,0,0.75);
}

.section-heading{
  margin-top: 10px;
  background-color: #e9ecef;
  border-radius: .3rem;
  padding: 20px;
 -webkit-box-shadow: 10px 10px 40px -17px rgba(0,0,0,0.75);
 -moz-box-shadow: 10px 10px 40px -17px rgba(0,0,0,0.75);
 box-shadow: 10px 10px 40px -17px rgba(0,0,0,0.75);
}

#btn {
  background-color:#9CCC65; 
  color:#3b3a36;
}

#btn:hover {
  background-color:#8CB75A; 
  color:#3b3a36;
}

#notifcation-btn {
  background-color:#9CCC65; 
  color:#3b3a36;
}

.footer{
  margin-top: 10px;
  border-top: none;
  background-color:#3b3a36;
  border-radius: 4;
  margin-bottom: 10px;
  -webkit-box-shadow: 10px 10px 37px -8px rgba(66,66,66,0.72);
-moz-box-shadow: 10px 10px 37px -8px rgba(66,66,66,0.72);
box-shadow: 10px 10px 37px -8px rgba(66,66,66,0.72);
  
}

/* Nav Bar further */
  #nav {
    background-color: #3b3a36!important;
    color: #e9ecef;
    }
    
  .navbar-light .navbar-nav .nav-link {
    color: #e9ecef;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #9CCC65;
  }

  .navbar-light .navbar-brand {
    color: #e9ecef;
  }

  .navbar-light .navbar-brand:hover {
    color: #9CCC65;
  }

  .navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.nav.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.section-main{
  margin-top: 10px;
  background-color: #e9ecef;
  border-radius: .3rem;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 37px -8px rgba(66,66,66,0.72);
  -moz-box-shadow: 10px 10px 37px -8px rgba(66,66,66,0.72);
  box-shadow: 10px 10px 37px -8px rgba(66,66,66,0.72);
}

.navbar-light .navbar-nav {
    color: #e9ecef;
}

.navbar-light .navbar-nav:hover {
    color: #9CCC65;
}

#btn {
  background-color:#9CCC65; 
  color:#3b3a36;
}

#btn:hover {
  background-color:#8CB75A; 
  color:#3b3a36;
}

.btn-text {
    text-decoration: none;
    color: #3b3a36;
}

.btn-text:hover {
    text-decoration: none;
    color: #3b3a36;
}

.link-normal {
    color:#e9ecef;
}

.link-normal:hover {
    color:#9CCC65;
    text-decoration: none;
}

/* index.php */
.card-footer {
  padding: .40rem 1.25rem;

}
.text-muted {
    color: #6c757d!important;
}

#table-heading {
  background-color: #3b3a36;
  color:#9CCC65;
}

.section-title{
  padding-top: 15px;
  }

#error-font {
  color:red;
}

#success-font {
  color: green;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.jumbotron {
    padding: 2rem 0;
    margin-bottom: -1rem;
    background-color: #e9ecef;
}

#homemodules{
  padding: 0px 0px;
}

#small-pad{
    margin-top:12px;
  }

  #myInput{
    width:50%; 
    margin-bottom:10px;
    margin-top:12px;
  }


#font-weight-normal{
    font-weight: normal;

}

@media only screen and (max-width: 700px) {
  .table-user {
    display:none;
  }
}

.recipelist{
  overflow-y:scroll; 
  height:300px;
}

/* carousel */
.d-block{
  width: 100%; 
  overflow: hidden; 
  filter: brightness(20%);
   max-height: auto;
}

@media only screen and (max-width: 700px) {
  .d-block {
    height:auto;
  }
}

#Carouseltext{
  color:#9CCC65;
}

#Carouseltext-small{
  color:white;
}

#infotext{
  color:#9b9b9b;
  font-weight: normal;
  padding-left: 2px;
}


/* uploadrecipe.php */
#Cardtext {
  padding-top: 15px;
  border-top: none;
}

#red-asterisk {
  color:red;
}

#description-top{
  margin-top: 18px;
}

/* recipepage */
.image{
  width:100%;
  max-width:700px;
}

.step{
  font-weight: bold;
}

.step-box{
  background-color: #CDE5B2;
}

.border-secondary{
    margin-top:14px;
    border-color: #6c757d;
}

.comments{
width:100%;
padding: 10px;
}

.comment-display{
border-bottom: 1px solid #a9acaf;
padding-left: 10px;
margin-top:5px;
}

.floated{
  float:left;
  margin-right:5px;
}


/* Update Info.php */
.img-update{
    max-width:422px; 
    padding-top:10px;
    width:100%;
}

/* recipepage.php */
#delete-comment {
    font-size: 15;
    vertical-align: text-top;
}

.button-href {
    padding: 3;
    margin-bottom: 1;
    font-size: 70%;
}